body {
	background: #202022;
	color: #f0f0f0;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	letter-spacing: -2px;
	text-align: center;
	font-size: 3em;
	margin: 0;
	padding: 0.3em;
	text-transform: uppercase;
}

h2, th {
	font-size: 1.5em;
	text-transform: uppercase;
	padding-top: 0.3em;
}

h3 {
	font-size: 1.2em;
	text-transform: uppercase;
	margin: 0;
}

p, td {
	font-size: 0.9em;
	line-height: 1.5em;
	text-align: justify;
}

a {
	color: #a2c7e5;
}

/* Fix for IE and Firefox */
img {
	border: none;	
}

#wrap {
	width: 900px;
	margin: 0 auto;
}

#menu {
	padding: 0;
	padding-bottom: 1.5em;
	margin: 0 auto;
	width: 41em;
	margin-bottom: 1em;
}

#menu li {
	float: left;
	list-style: none;
	
}

#menu li:not(:last-child) a {
	border-right: 1px #404044 solid;
}

#menu li a {
	color: #ccc;
	text-decoration: none;
	padding: 0.6em 1em;
	text-transform: uppercase;
	font-size: 0.9em;
	background: #303033;
}

#menu li:first-child a {
	border-radius: 5px 0 0 5px;
}

#menu li:last-child a {
	border-radius: 0 5px 5px 0;
}

#menu li a:hover {
	background: #404044;
	color: #fff;
}

#menu li a.selected {
	background: #404044;
	color: #fff;
}

#menu li  {
	border: none;
}

hr {
	border: none;
	border-bottom: 1px #ccc solid;
}

#kontakt {
	text-align: center;
}

#font-sizer {
	position: absolute;
	top: 0;
	margin-left: 800px;
}

#font-sizer li {
	float: left;
	list-style: none;
}

#font-sizer li {
	line-height: 1.5em;
	padding: 3px;
}

#font-sizer li a {
	display: block;
	cursor: hand;
}

#font-normal {
	font-size: 0.9em;
}

#font-large {
	font-size: 1.2em;
}

#font-huge {
	font-size: 1.5em;
}

#imgwrap {
	background: url('loading.gif') top center no-repeat;
	min-height: 100px;
	width: 900px;
	text-align: center;
}

#imgnum {
	float: right;
	margin-top: -2.2em;
}

#imghead {
	clear: both;
}

/* Let's make a fullscreen and normal screen layout */
.clear {
	clear: both;
}

#layout {
	clear: both;
}

#layout.fullscreen {
	
}

#layout.fullscreen #sidebar {
	display: none;
}

#layout.fullscreen #image {
	width: 900px; /* Hoping all images are >= 900px, or this gets skewed */
}

#layout.normal {
	clear: both;
}

#layout.normal #sidebar {
	float: left;
	padding-left: 50px;
	width: 350px;
	text-align: justify;
}

#layout.normal #imgwrap {
	float: left;
	width: 500px;
}

#layout.normal #imgwrap #image {
	width: 500px; /* Hoping all images are >= 500px, or this gets skewed */
}

#layout.normal #sidebar #nav a {
	background-color: #ccc;
	border-radius: 5px;
	text-shadow: 0px 1px 0px #fff;
	color: #000;
	text-decoration: none;
	margin-bottom: 1em;
	width: 145px;
	display: block;
	float: left;
	padding: 5px 10px;
	text-align: center;
}

#layout.normal #sidebar #nav #next:hover, #layout.normal #sidebar #nav #prev:hover, #layout.normal #sidebar #nav #zoomin:hover, #layout.normal #sidebar #nav #favourite:hover {
	background-color: #eee;
}

#layout.normal #sidebar #nav #next, #layout.normal #sidebar #nav #favourite {
	float: right;
}

#layout.normal #sidebar #nav #zoomin {
	background: #ccc url('zoomin.gif') 0% 50% no-repeat;
}

#layout.normal #sidebar #nav #favourite {
	background: #ccc url('http://www.scriptgenerator.net/img_gen/add_to_favorites.gif') 0% 50% no-repeat;
}

#layout.normal #sidebar #nav {
	text-align: center;
}

#info {
	display: none;
}

#share {
	margin-bottom: 1em;
}
