#cv-head {
	font-size: 1.1em;
}

.cv {
	width: 100%;
}

.cv, .cv-head {
	margin-top: 30px;
}

.cv th, .cv-head th {
	text-align: left;
	font-size: 1.3em;
}

.cv th, .cv td {
	
}

.cv td {
	padding: 0.3em;
}

.cv tr td:nth-child(2), .cv tr th:nth-child(2) {
	text-align: right;
}

.cv tr:nth-child(2n) {
	background-color: #303033;
}
